.container-images {
    width: 50%;
    height: 80vh;
    overflow-y: auto;
}
@media (max-width: 768px) {
    .container-images {
        width: 100%;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.grid-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid-text {
    margin-top: 15px;
    color: rgb(252, 252, 252);
}

.grid-image.hidden {
    display: none;
}

.container-images::-webkit-scrollbar {
    width: 8px;
}

.container-images::-webkit-scrollbar-track {
    background: #9c9c9c;
    border-radius: 4px;
}

.container-images::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.container-images::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container-spinner {
    display: flex;
    justify-content: center;
}

.spinner {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.container-error {
    color: rgb(255, 44, 44);
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.container-favorite {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 5px;
}